/*----------- MASTER --------------*/
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
/*  font-size: 16px;*/
  color: #000000;
}
p {
  padding-bottom: 15px;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px black solid;
}
a:img {
  border-bottom: 0px;
}
ul {
  list-style: none inside;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.clear {
  clear: both;
  display: block;
}
.headline {
    padding: 20px 25px 20px 50px;
    font-weight: bold;
    font-family: "Space Mono";
    text-transform: uppercase;
    font-size: 12px;

}
/*----------- HEADER --------------*/
header {
  padding: 20px 70px 40px 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: none;
  width: auto;
  font-family: 'Space Mono';
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-sizing: border-box;
        border-bottom: 1px solid black;
}
header h1 {
  font-weight: normal;
  color: #000000;
  width: 61%;
        font-size: 16px;
        padding-right: 100px;
        box-sizing: border-box;
    }
}
nav {
  width: 40%;
  font-size: 10px;
}
nav li {
  list-style: none;
}
nav li:first-child {
  padding-left: 0px;
  margin-left: 0px;
}

/*----------- HOMEPAGE --------------*/
.intro {
    border-top: 1px solid lightgrey;
    font-family: 'Arimo', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 40% 100px 50px;
}
.homepage {
    padding:20px 50px 50px 50px;
    display: flex;
    border-top: 1px lightgrey solid;
    vertical-align: text-top;
}
.homepage h3 {
    width: 15%;
font-weight: bold;
    font-family: "Space Mono";
    text-transform: uppercase;
    font-size: 12px;
}
.hp_project {
  width: 60%;
  margin-right: 0px;
  box-sizing: border-box;
  padding-right: 50px;
    font-weight: 700;
      font-size: 30px;
    line-height: 34px;
}
.hp_type {
  width: 20%;
    font-family: 'Space Mono';
    font-size: 13px;
}
.hp_publication {
  width: 20%;
        font-family: 'Space Mono';
        font-size: 13px;

}
/*----------- PROJECTS --------------*/
.object {
  border-top: 1px lightgrey solid;
  padding: 25px 50px 25px 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: auto;
  line-height: 20px;
    font-size: 16px;
}
.year {
  width: 20%;
}
.project {
  width: 40%;
  margin-right: 0px;
  box-sizing: border-box;
  padding-right: 50px;
    font-weight: 700;
      font-size: 20px;
}
.type {
  width: 20%;
}
.publication {
  width: 20%;
}
.preview .object:hover {
    background-color: lightgray;
}
.column-titles {
  padding: 25px 50px 25px 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: auto;
  line-height: 20px;
    font-size: 16px;
}
.order {
    font-weight: bold;
    font-family: "Space Mono";
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: none;

}
.hidden {
  display: none!important;
  visibility: hidden!important;
}
.blog-tags-list {
        padding-bottom: 10px;
        margin: auto;
        padding: 15px 50px 25px 50px;
        width: 100%;
        width: auto;
        text-align: center;
        }
.blog-tags-list a:hover {
            color: lightgrey;
        }
.blog-tags-item {
        float: left;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px black solid;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-size: 12px;
        }
.blog-tags-item:first-child {
    margin-left: 0px;
        }
.blog-tags-item:hover {
    border-color: lightgrey;
    background-color: lightgrey;
    color: black;
        }

/*----------- PROFILE --------------*/
.profile {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 15px 50px 50px 50px;
}
.text {
  width: 60%;
  border-top: none;
  align-items: baseline;
  box-sizing: border-box;
  padding-right: 40px;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 22px;
}
.text a{
    font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
    border-bottom: 1px lightgrey solid;
}
.profile_section:first-child {
  padding-top: 0px;
}
.profile_section h4 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 25%;
    font-size: 16px;
}
.text article {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-size: 16px;
      line-height: 1.6em;
  color: #000000;
  padding-bottom: 0px;
  margin-right: 50px;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  width: 50%;
}
.text article a {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  border-bottom: 1px black solid;
}
.text article a:hover {
  border-bottom: 1px lightgrey solid;
  color: red;
}
.profile sidebar {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.profile img {
    width: 60%;
}
.profile sidebar h4 {
    font-size: 16px;
}
.profile sidebar li {
  list-style: none inside;
      font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-size: 16px;
    line-height: 1.3em;
}
.profile sidebar a {
    font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  border-bottom: 0px black solid;
}
.profile sidebar a:hover {
  border-bottom: 1px #000000 solid;
  color: black;
}
/*----------- WRITING --------------*/
.essay {
  width: 55%;
    margin-right: 5%;
}
article {
  font-family: 'Average', Georgia, Times, serif;
  font-size: 20px;
  line-height: 1.6em;
}
article h3 {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-size: 26px;
  color: #000000;
  font-size: 30px;
  padding-right: 10px;
  margin-bottom: 50px;
}
article h4 {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 20px;
}
article a {
  font-family: 'Average', Georgia, Times, serif;
  font-size: 20px;
  border-bottom: 1px lightgrey solid;
}
article a:hover {
  color: black;
    border-bottom-color: black;
}
article hr {
  margin: 25px auto 40px auto;
  max-width: 25%;
  border: 1px solid rgba(0, 0, 0, 1);
}
article img {
  width: 100%;
}
.colophon {
    width: 30%;
    font-family: 'Space Mono';
    font-size: 11px;
}
.colophon li {
    padding-top: 0px;
    padding-bottom: 0px;
}
.colophon img {
    width: 80%;
}
.colophon a {
    border-bottom: 1px solid black;
    font-size: 11px;
}
.colophon h4 {
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 12px;
    width: 80%;
        border-bottom: 1px solid grey;
    margin-bottom: 5px;
}
.colophon h4:first-child {
    padding-top: 0px;
}
/*
.tags {
    margin-left: -5px;
    width: 80%;
}
.tags li {
    border: 1px solid black;
    border-radius: 3px;
    float: left;
    padding: 5px;
    margin: 5px;
}

figure {
  width: 135%;
}
figure img {
  width: 100%;
  padding-bottom: 20px;
}
figcaption {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 20%;
  float: right;
  padding-top: 5px;
}
figcaption a {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px #ff0000 solid;
}
figcaption a:hover {
  color: red;
}
*/
/*----------- RESPONSIVE VIDEO --------------*/
.responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*----------- FOOTER --------------*/
footer {
  border-top: 1px black solid;
  padding: 15px 50px 50px 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: auto;
}
.left {
  width: 60%;
  box-sizing: border-box;
}
.right {
  width: 40%;
}
form {
    padding-top: 0px;
}
input {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    margin-left: 1%;
}
/*-----------------------------------
TABLET
----------------------------------- */
@media screen and (min-width: 716px) and (max-width: 1024px) {
  /* HOMEPAGE */

  /* PROJECTS */
  .essay {
    width: 75%;
  }
  figure {
    width: 100%;
  }
  figure img {
    padding-bottom: 0px;
  }
  figcaption {
    width: 100%;
    padding-bottom: 20px;
  }
  /* PROFILE */
  .profile_section {
    width: 100%;
    flex-direction: column;
  }
  .profile_section h4 {
    width: 100%;
  }
  .text article {
    width: 100%;
  }
}

/* MOBILE
----------------------------------- */
@media only screen and (max-width: 715px) {

    header {
    padding-bottom: 30px;
    padding-left: 25px;
    padding-top: 25px;
    flex-direction: column;
  }
nav {
    float: none;
    padding-top: 10px;
    width: 100%;
  }
nav li:first-child {
    padding-left: 0px;
    margin-left: 0px;
  }

/*HOMEPAGE */
    .header {
        width: 100%;
        flex-direction: column;
        }
    header h1 {
        width: 100%;
        padding-right: 0px;
        }
    .hp_project {
        width: 100%;
        margin-right: 0px;
        padding-right: 20px;
        font-size: 30px;
        line-height: 34px;
        }
    .hp_type {
        width: 100%;
        font-family: 'Space Mono';
        font-size: 13px;
    }
    .hp_publication {
        width: 100%;
        }

/*PROJECTS */
    .object {
        flex-direction: column;
        padding-left: 25px;
      }
    .year {
        width: 100%;
    }
    .project {
        width: 100%;
        margin-right: 0px;
        box-sizing: border-box;
        padding-right: 30px;
        font-weight: 700;
    }
    .type {
        width: 100%;
    }
    .publication {
        width: 100%;
        font-style: italic;
    }
    .order {
        display: none;
        }

/* PROFILE */
    .profile {
        flex-direction: column;
        width: 100%;
        padding-left: 25px;
        box-sizing: border-box;
          padding-right: 25px;
      }
    .text {
        width: auto;
        order: 1;
        -webkit-order: 1;
        -ms-order: 1;
      }
    .profile_section {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        padding-top: 25px;
      }
    .profile_section h4 {
        width: auto;
      }
    .text article {
        margin-right: 0px;
        width: auto;
      }
    .profile sidebar {
        order: 0;
        -webkit-order: 0;
        -ms-order: 0;
        margin-left: px;
        padding-left: 0px;
      }
      .profile sidebar h4 {
        margin-bottom: 0px;
      }
    .profile sidebar img {
        width: 100%;
        }

/* WRITING */
    .essay {
        width: 100%;
        }
    article {
        font-size: 18px;
      }
    article a {
        font-size: 18px;
        }
    article blockquote {
        border-left: none;
        padding-left: 1em;
        margin: 0px;
      }
    .colophon {
        width: 100%;
        }
    .colophon img {
        width: 100%;
    }
    .colophon h4 {
        width: 100%;
    }

/* FOOTER */
    footer {
        flex-direction: column;
        padding-left: 25px;
      }
    .left {
        width: 100%;
        }
    .right {
        margin-left: 0px;
        width: 100%;
      }
}
