<footer><div class="left"><p>&copy <script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
            </script> Kyle Chayka | <a href="#">Email</a> | <a href="https://twitter.com/chaykak">Twitter</a> | <a href="https://www.instagram.com/kchayka/">Instagram</a> | <a href="https://medium.com/@chaykak">Medium</a></p></div>

            <div class="right">
                 <form action="https://tinyletter.com/jarrettfuller" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/jarrettfuller', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Newsletter:</label> <input type="text" style="width:140px" name="email" id="tlemail" /><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /></form>





                </p></div>
    </footer>