<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }}—Kyle Chakya</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/styles.css" />
<link href="https://fonts.googleapis.com/css?family=Arimo|Space+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Average" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="{{ site.github.url }}/images/favicon.jpg">


    </head>
    <body id="top">
        <header><div class="site-title"><a href="{{ site.github.url }}/">Kyle Chayka</a></div><div class="page-title">{{ page.title }}</div>
            <nav><ul>
                <li><a href="{{ site.github.url }}/archive">Archive</a></li>
                <li><a href="{{ site.github.url }}/news">News</a></li>
                <li><a href="{{ site.github.url }}/bio">Biography</a></li>
             </ul></nav></header>



<div id="container">
      {{ content }}
    </div>

{% include footer.html %}
    </body>



</html>
