---
layout: default
---

    <div class="object">


            <div class="essay">
            <article>
<h3>{{ page.title }}</h3>

    {{ content }}

</article>
        </div>
        <div class="colophon">
            <h4>Colophon</h4>
        <ul>
            <li>Originally published in <a href="{{ page.link }}">{{ page.publication }} <i class="fa fa-external-link-square" aria-hidden="true"></i></a></li>
            <li>Date: {{ page.pubdate }}</li>
            <li>Category: {{ page.categories }}</li>
            </ul>

            <h4>Image</h4>

            <p><img src="{{ site.github.url }}{{ page.image }}"></p>

            <h4>Tags</h4>
            <ul class="tags">
                {% for tags in page.tags %}
                <li>{{ tags }}</li>
                {% endfor %}
    </ul>
        </div>


